src/logicApp/LogicAppProcessor/Processor/SendEmailConfirmation/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Dead-letter_the_message_in_a_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "@parameters('serviceBusReceiveQueue')",
                        "lockToken": "@triggerBody()?['lockToken']"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "deadLetterQueueMessageV2",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Scope": [
                        "FAILED"
                    ]
                }
            },
            "Scope": {
                "type": "Scope",
                "actions": {
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@triggerBody()?['contentData']",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "Kundennummer": {
                                        "type": "string"
                                    },
                                    "Artikel": {
                                        "type": "string"
                                    },
                                    "Preis": {
                                        "type": "number"
                                    }
                                }
                            }
                        }
                    },
                    "Call_an_Azure_API_Management_API": {
                        "type": "ApiManagement",
                        "inputs": {
                            "apiManagement": {
                                "operationId": "post_create",
                                "connection": "apiManagementOperation"
                            },
                            "method": "post",
                            "pathTemplate": {
                                "template": "/emailservice/email/create"
                            },
                            "body": {
                                "Kundennummer": "@body('Parse_JSON')?['Kundennummer']"
                            }
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Send_email": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "acsemail-1"
                                }
                            },
                            "method": "post",
                            "body": {
                                "senderAddress": "@parameters('SendFrom')",
                                "recipients": {
                                    "to": [
                                        {
                                            "address": "@body('Call_an_Azure_API_Management_API')?['Email']"
                                        }
                                    ]
                                },
                                "content": {
                                    "subject": "Bestellbestätigung",
                                    "html": "<p class=\"editor-paragraph\">Dieses ist eine Azure Test nachricht:</p><br><p class=\"editor-paragraph\"></p>"
                                },
                                "importance": "Normal"
                            },
                            "path": "/emails:sendGAVersion",
                            "queries": {
                                "api-version": "2023-03-31"
                            }
                        },
                        "runAfter": {
                            "Call_an_Azure_API_Management_API": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {}
            },
            "Complete_the_message_in_a_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "dwxdemo5-receive-order",
                        "lockToken": "@triggerBody()?['lockToken']"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "completeQueueMessageV2",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Scope": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_queue_(peek-lock)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "@parameters('serviceBusReceiveQueue')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "peekLockQueueMessagesV2",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        }
    },
    "kind": "Stateful"
}